:root {
    --height-banner: 200px;
}

.icon-img {
    border-radius: 1rem;
    width: 150px;
    height: 150px;
    margin: 3.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: calc(var(--height-banner) + 9rem);
}

.banner {
    height: var(--height-banner);
    background-image: url('../../../public/images/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.board-details {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    margin: 0 2rem;
}

.board-text {
    margin-top: calc(var(--height-banner) + 9rem);
}

hr {
    color: #ccc;
}